HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
**/src/main/resources/datasource_guest.properties
**/src/main/resources/datasource_std.properties
**/src/main/resources/datasource_prof.properties
**/src/main/resources/datasource_admin.properties
**/src/main/resources/security.properties
**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
